*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @apply bg-white overflow-x-hidden;

  /* &.admin-bar {
    margin-top: var(--wp-admin-bar-h)
  } */

  > .site-container {
    padding-top: var(--top-nav-h);
  }
}

section,
.container {
  position: relative;
}

.lazy {
  position: absolute;
}

hr {
  @apply bg-gold-200;
  border: 0;
  height: 2px;
}

img {
  vertical-align: middle;
  border-style: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}
