/* ==========================================================================
   Additional CSS Variables
  ========================================================================== */

/* GlideJS
$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default; */

:root {
  --wp-admin-bar-h: 32px;
  --top-nav-h: 80px;
}

@media screen and (max-width: 782px) {
  :root {
    --wp-admin-bar-h: 46px;
  }
}